#toast-container {
  margin-top: 1rem;
}

#toast-container.toast-top-full-width>.toast {
  max-width: 570px;
}

#toast-container>.toast-success {
  background-color: #35c8c3;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#toast-container>.toast-success:hover {
  background-color: #35c8c3;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#toast-container>.toast-error {
  background-color: #eb5a46;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#toast-container>.toast-error:hover {
  background-color: #eb5a46;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.moving-tab {
  display: none;
}

.btn-finish-reactWizard {
  color: #ffffff !important;
  background-color: #0a3cc4 !important;
  border-color: #0a3cc4 !important;
}

.btn-finish-reactWizard:hover {
  background-color: #0a3cc4e1 !important;
}

.btn-next-reactWizard {
  color: #ffffff !important;
  background-color: #3c0ac4 !important;
  border-color: #3c0ac4 !important;
}

.btn-prev-reactWizard {
  color: #ffffff !important;
  background-color: #c40a29 !important;
  border-color: #c40a29 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important;
  background-color: #3c0ac4 !important;
}

.nav-pills .nav-link {
  cursor: pointer;
  color: #3c0ac4 !important;
}

.send-btn {
  padding: 9px 22px;
  display: inline-block;
  background: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100.5%;
  text-transform: capitalize;
  color: #043565;
}

.modal-open {
  padding: 0 !important;
}

.float-btn-tourist {
  position: absolute;
  right: 5%;
  z-index: 100;
}

.upload-btn {
  padding: 10px 21px;
  background: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid #043565;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 166.5%;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #373737;
  transition: all 0.3s;
}

.upload-btn:hover {
  color: #fff;
  background-color: #043565;
}

.branch-not-approved {
  font-size: 0.9rem;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}